src/GameEditor/GameEditor.Wcf.Harness/Service References/BookmarkServiceReference/GameCore.Wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameCore.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameCore.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bookmarks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bookmark" nillable="true" type="tns:Bookmark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bookmarks" nillable="true" type="tns:Bookmarks" />
  <xs:complexType name="Bookmark">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Public" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLink" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bookmark" nillable="true" type="tns:Bookmark" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookmarks" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookmarks" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>